@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
 
* {
        /*font-family: "helvetica" !important;
        font-size: 12px;*/
}
 
#TabsToolbar {
        background: #444 !important;
}
 
.tab-close-button {
        display: none !important;
}
 
.tabbrowser-tabs {
        background: #282828 !important;
}

.tabbrowser-tab {
        background: #282828 !important;
        color: #EEEEEE !important;
        border: 0px !important;
        border-width: 3px 3px 3px 3px !important;
        border-color: #FFF !important;
        border-radius: 0px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
}
 
.tabbrowser-tab[selected="true"] {
        background: #EEEEEE !important;
        color: #282828 !important;
}
 
.tabs-newtab-button {
        border:none;
        background: #003300;
        display: none;
        margin: 0px;
        border-radius: 0;
}
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker,
#appmenu-toolbar-button > .toolbarbutton-text {
        display: none !important;
}
 
#appmenu-toolbar-button {
        color: #282828 !important;
        background: #282828 !important;
        -moz-appearance: none !important;
        list-style-image: url("chrome://branding/content/icon16.png") !important;
}
